<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
  <body>
    <main>
      <h2><a href='./../teams/<%=singleGameObject.homeTeamId%>'><%= singleGameObject.homeTeamName %></a></h2>
      <h2><%= singleGameObject.awayTeamName %></h2>
      <p> this is tim</p>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="../scripts/app.js"></script> -->
</html>